HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### .env ###
.env.local
.env.bigbang-local
.env.bigbang-prod
.env.docker-local
.env.docker-prod
.env.eks

### GCP ###
leafresh-gcs.json
leafresh-prod2-wren.json
leafresh-prod3-be.json
leafresh-dev2.json

### AWS ###
leafresh-v3-be-wren_accessKeys.csv
